@model HsmBI.journals

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>journals</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.Narration, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Narration)
                @Html.ValidationMessageFor(model => model.Narration)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.transdate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.transdate)
                @Html.ValidationMessageFor(model => model.transdate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ticketno, "ticketno", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ticketno", String.Empty)
                @Html.ValidationMessageFor(model => model.ticketno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.refticketno, "refticketno", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("refticketno", String.Empty)
                @Html.ValidationMessageFor(model => model.refticketno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DrAC, "DrAC", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DrAC", String.Empty)
                @Html.ValidationMessageFor(model => model.DrAC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CrAC, "CrAC", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CrAC", String.Empty)
                @Html.ValidationMessageFor(model => model.CrAC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.journaltype_id, "journaltype_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("journaltype_id", String.Empty)
                @Html.ValidationMessageFor(model => model.journaltype_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Id)
                @Html.ValidationMessageFor(model => model.User_Id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
